<% include partials/head.ejs %>
  <h1><%= title %></h1>
   <table border="1">
   	

   

    <% if(data.length){ 
                                
         for(var i = 0;i < data.length;i++) { %>                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].username%></td>
                    <td><%=data[i].email%></td>
                    <td><%=data[i].password%></td>
                    <td><%=data[i].ID%></td>
                    
                </tr>
            <% }

              }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
 </table>

 <% include partials/footer.ejs %>